
<style>
    @page{
        margin-top:10px;
        margin-bottom:10px;
    }
    
    table{
        /* font-family: Arial, Helvetica, sans-serif; */
        /* font-family: 'Times New Roman', Times, serif; */
        font-family: "Heebo",sans-serif;
    }
</style>

<!-- main table -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <!-- full content -->
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!-- header -->
                <tr>
                    <td style="padding-bottom:20px!important;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="padding-top:25px!important;">
                                    <div style="border-radius:10px!important; padding-bottom:1rem!important; border:1px solid #fc6262 !important; text-align:center!important;">
                                        <div style="margin-top:-15px!important; font-size:26px!important;">
                                            <h3 style="color:#fc6262!important; background:#ffffff!important; padding-left:5rem!important; padding-right:5rem!important; display:inline!important; margin-left:auto!important; margin-right:auto!important;">Iqbal Shah</h3>
                                        </div>
                                        <p style="margin-bottom:0px!important; font-size:22px!important; color:#4d0000!important;">Full Stack Developer</p>
                                        <div style="width:80%!important; text-align:center!important; margin-left:auto; margin-right:auto; font-size:16px!important;">
                                            <p style="margin-bottom:0!important; font-size:16px!important;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deserunt mollitia dolor, odio aut doloribus! Dolores maiores aspernatur rerum deserunt? Aut beatae nulla numquam. Assumenda possimus suscipit ipsum mollitia architecto. Iure ab quia unde vel nostrum, tempore aut dolorum consequatur velit molestiae pariatur rem, quisquam esse debitis exercitationem at quasi?</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- social links -->
                <tr>
                    <td style="padding-bottom:20px!important;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="background:#fc6262!important; padding:1rem 2rem !important; border-radius:10px!important;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="left" style="padding-bottom:5px!important; width:50%!important;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="right" style="width:10%">
                                                            <img src="../../img/social-img/red-dark/envelope-fill.svg" style="width:14px!important; height:14px!important;" alt="">
                                                        </td>
                                                        <td align="left" style="font-size:16px!important; color:#fff!important;">
                                                            &nbsp;&nbsp;Email
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td align="left" style="padding-bottom:5px!important;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="right" style="width:10%">
                                                            <img src="../../img/social-img/red-dark/telephone-fill.svg" style="width:14px!important; height:14px!important;" alt="">
                                                        </td>
                                                        <td align="left" style="font-size:16px!important; color:#fff!important;">
                                                            &nbsp;&nbsp;9876543210
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="width:50%!important;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="right" style="width:10%">
                                                            <img src="../../img/social-img/red-dark/geo-alt-fill.svg" style="width:14px!important; height:14px!important;" alt="">
                                                        </td>
                                                        <td align="left" style="font-size:16px!important; color:#fff!important;">
                                                            &nbsp;&nbsp;Agra
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td align="left">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="right" style="width:10%">
                                                            <img src="../../img/social-img/red-dark/linkedin.svg" style="width:14px!important; height:14px!important;" alt="">
                                                        </td>
                                                        <td align="left" style="font-size:16px!important; color:#fff!important;">
                                                            &nbsp;&nbsp;linkedin
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- body -->
                <tr>
                    <td style="padding-bottom:15px!important;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <!-- left -->
                                <td align="left" valign="top" style="width:50%; padding-right:40px!important;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <!-- education -->
                                        <tr>
                                            <td style="padding-bottom:5px!important;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="right" style="width:5%; padding-bottom:5px!important;"><img src="../../img/social-img/danger/mortarboard-fill.svg" alt="" style="width:24px; height:24px;"></td>
                                                                    <td align="left" style="color:#fc6262!important; font-size:26px!important;text-align:left!important; padding-bottom:5px!important; font-weight:700!important;">&nbsp;&nbsp;EDUCATION</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:15px!important;">
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td style="font-size:20px;">Bachelor of Computer Application</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:16px;">RBS</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="font-size:14px; padding-bottom:5px!important;">27-06-2022</td>
                                                                    <td align="right" style="font-size:14px; padding-bottom:5px!important;">Agra</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:14px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi similique id, distinctio eius voluptate quas voluptatibus nostrum? Praesentium, fugit debitis, reiciendis quo sint obcaecati incidunt nemo, quod earum quos delectus? Id corrupti rem, quae aspernatur ut eius pariatur laudantium, numquam quasi dicta illo quia eaque hic officia. Quasi eos itaque rerum id voluptates temporibus, assumenda culpa, unde, ipsa consequuntur architecto necessitatibus perspiciatis reiciendis consectetur laborum quisquam quibusdam possimus repudiandae veritatis nobis magnam. Molestias fugiat odio magnam, deleniti pariatur itaque deserunt accusantium repellat, ipsum eius, maxime nam commodi quidem consequuntur consectetur expedita cupiditate asperiores similique voluptate libero. Fuga vero dolore esse.</td>
                                                                    
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- skills -->
                                        <tr>
                                            <td style="padding-bottom:20px!important;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="right" style="width:5%; padding-bottom:10px!important;"><img src="../../img/social-img/danger/trophy-fill.svg" alt="" style="width:24px; height:24px;"></td>
                                                                    <td align="left" style="color:#fc6262!important; font-size:26px!important;text-align:left!important; padding-bottom:10px!important; font-weight:700!important;">&nbsp;&nbsp;SKILLS</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div style="background:#fc6262!important; color:#fff!important; border-radius:5px!important; font-size:16px!important; padding:4px 10px !important; margin:2px 3px !important; line-height:24px!important; display:inline-block!important;">HTML</div>
                                                            <div style="background:#fc6262!important; color:#fff!important; border-radius:5px!important; font-size:16px!important; padding:4px 10px !important; margin:2px 3px !important; line-height:24px!important; display:inline-block!important;">JavaScript</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- certificate -->
                                        <tr>
                                            <td style="padding-bottom:5px!important;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="right" style="width:5%; padding-bottom:5px!important;"><img src="../../img/social-img/danger/certificate-fill.svg" alt="" style="width:24px; height:24px;"></td>
                                                                    <td align="left" style="color:#fc6262!important; font-size:26px!important;text-align:left!important; padding-bottom:5px!important; font-weight:700!important;">&nbsp;&nbsp;TRANINGS AND CERTIFICATES</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:15px!important;">
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="left" style="font-size:14px; padding-bottom:5px!important;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ea, at nisi est harum, ad modi neque inventore iste officiis, molestias voluptates facere alias quia?</td>
                                                                    <td align="right" style="font-size:14px; padding-bottom:5px!important;">23/34/5678</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- award -->
                                        <tr>
                                            <td style="padding-bottom:5px!important;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="right" style="width:5%; padding-bottom:5px!important;"><img src="../../img/social-img/danger/award-fill.svg" alt="" style="width:24px; height:24px;"></td>
                                                                    <td align="left" style="color:#fc6262!important; font-size:26px!important;text-align:left!important; padding-bottom:5px!important; font-weight:700!important;">&nbsp;&nbsp;HONOUR & AWARDS</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:15px!important;">
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="left" style="font-size:14px; padding-bottom:5px!important;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis culpa dolores delectus minima suscipit iusto temporibus aliquam. Voluptas fugiat similique esse dolor. Similique, earum provident.</td>
                                                                    <td align="right" style="font-size:14px; padding-bottom:5px!important;">23/34/5678</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- Language -->
                                        <tr>
                                            <td style="padding-bottom:20px!important;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="right" style="width:5%; padding-bottom:10px!important;"><img src="../../img/social-img/danger/translate.svg" alt="" style="width:24px; height:24px;"></td>
                                                                    <td align="left" style="color:#fc6262!important; font-size:26px!important;text-align:left!important; padding-bottom:10px!important; font-weight:700!important;">&nbsp;&nbsp;LANGUAGE</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div style="background:#f0f1f2!important; color:black!important; border-radius:5px!important; font-size:16px!important; padding:4px 10px !important; margin:2px 3px !important; line-height:24px!important; display:inline-block!important;">Hindi</div>
                                                            <div style="background:#f0f1f2!important; color:black!important; border-radius:5px!important; font-size:16px!important; padding:4px 10px !important; margin:2px 3px !important; line-height:24px!important; display:inline-block!important;">English</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    </table>
                                </td>

                                <!-- right -->
                                <td align="left" valign="top" style="width:50%; padding-left:40px!important;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">

                                        <!-- work experience -->
                                        <tr>
                                            <td style="padding-bottom:5px!important;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="right" style="width:5%; padding-bottom:5px!important;"><img src="../../img/social-img/danger/briefcase-fill.svg" alt="" style="width:24px; height:24px;"></td>
                                                                    <td align="left" style="color:#fc6262!important; font-size:26px!important;text-align:left!important; padding-bottom:5px!important; font-weight:700!important;">&nbsp;&nbsp;WORK EXPERIENCE</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:15px!important;">
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td style="font-size:20px;">Full Stack Developement</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:16px;">Jobaaj</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="font-size:14px; padding-bottom:5px!important;">27-06-2022</td>
                                                                    <td align="right" style="font-size:14px; padding-bottom:5px!important;">Agra</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est deserunt enim libero atque pariatur doloremque, deleniti iure maiores vero sequi iste. Cum autem eligendi minus saepe error, numquam impedit eius? Nesciunt ducimus sint saepe molestiae voluptate obcaecati aut, aspernatur quam, exercitationem ullam itaque repudiandae autem repellat dolor, beatae ad porro unde quod eum esse eos omnis vel eligendi. Vel eos fuga mollitia excepturi doloremque inventore expedita magni officia saepe ipsa. Explicabo ea odit pariatur eos ratione, suscipit nulla sint, mollitia iste ipsa facere. Voluptas provident expedita assumenda illo dolorum quam, ab animi quasi. Ratione assumenda ipsa expedita mollitia facilis nostrum.</td>
                                                                    
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:15px!important;">
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td style="font-size:20px;">Full Stack Developement</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:16px;">Jobaaj</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="font-size:14px; padding-bottom:5px!important;">27-06-2022</td>
                                                                    <td align="right" style="font-size:14px; padding-bottom:5px!important;">Agra</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:14px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus doloribus dolorum ex fuga, unde blanditiis, aliquam impedit tenetur omnis officiis quos. Deleniti, totam, repellendus vitae, dolorem eius sint incidunt voluptatem magnam assumenda ducimus deserunt? Recusandae iusto neque quis possimus natus nulla nobis, voluptates laboriosam magnam praesentium eos, libero vitae, debitis corrupti provident ex eius optio itaque facilis excepturi velit ducimus eum facere! Alias sequi suscipit praesentium tenetur tempore voluptatibus, molestias placeat! Ad reprehenderit pariatur magni unde impedit et itaque fugit voluptate? Sequi sapiente voluptas dolore debitis dignissimos? Quae velit asperiores vel officiis rem, ea dolores dolore, repellendus possimus praesentium ullam!</td>
                                                                    
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- Interest -->
                                        <tr>
                                            <td style="padding-bottom:20px!important;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="right" style="width:5%; padding-bottom:10px!important;"><img src="../../img/social-img/danger/heart-fill.svg" alt="" style="width:24px; height:24px;"></td>
                                                                    <td align="left" style="color:#fc6262!important; font-size:26px!important;text-align:left!important; padding-bottom:10px!important; font-weight:700!important;">&nbsp;&nbsp;INTEREST</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div style="background:#f0f1f2!important; color:black!important; border-radius:5px!important; font-size:16px!important; padding:4px 10px !important; margin:2px 3px !important; line-height:24px!important; display:inline-block!important;">Travelling</div>
                                                            <div style="background:#f0f1f2!important; color:black!important; border-radius:5px!important; font-size:16px!important; padding:4px 10px !important; margin:2px 3px !important; line-height:24px!important; display:inline-block!important;">Watching Movies</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- Activities -->
                                        <tr>
                                            <td style="padding-bottom:5px!important;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="right" style="width:5%; padding-bottom:5px!important;"><img src="../../img/social-img/danger/user-pen-solid.svg" alt="" style="width:24px; height:24px;"></td>
                                                                    <td align="left" style="color:#fc6262!important; font-size:26px!important;text-align:left!important; padding-bottom:5px!important; font-weight:700!important;">&nbsp;&nbsp;ACTIVITIES</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:15px!important;">
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td style="font-size:20px;">Raja Balwant Singh</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="font-size:14px; padding-bottom:5px!important;">NCC</td>
                                                                    <td align="right" style="font-size:14px; padding-bottom:5px!important;">27-06-2022</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque saepe cupiditate rem, minus ex laudantium fugit vero quis autem! Temporibus voluptatem repellat animi commodi nulla!</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- Activities -->
                                        <tr>
                                            <td style="padding-bottom:5px!important;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="right" style="width:5%; padding-bottom:5px!important;"><img src="../../img/social-img/danger/user-tie-solid.svg" alt="" style="width:24px; height:24px;"></td>
                                                                    <td align="left" style="color:#fc6262!important; font-size:26px!important;text-align:left!important; padding-bottom:5px!important; font-weight:700!important;">&nbsp;&nbsp;REFERENCE</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:15px!important;">
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td style="font-size:14px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A laudantium vel incidunt qui. Dolore commodi aut perferendis recusandae reprehenderit eum tempore minus saepe modi illo.</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        

                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>